node_modules
**/node_modules

.next
**/.next

dist
**/dist
build
**/build
out
**/out

.env
.env.*
**/.env
**/.env.*
**/.env.local
!.env.example
!**/.env.example

.git
.github
.vercel
.turbo
.cache

.DS_Store
*.log

tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

